extends layout

block content
  .back-button
    a(href="/") ‹ tilbake
  p.information C-programmering har disse hjelperne tilgjenglige
  ul.helpers
    li
      a(href="/lag-avtale")
        img(src="/public/p1.png")
      a(href="/lag-avtale")
        h1 Mona L.
      a(href="/lag-avtale")
        p Kan C og vitseskriving, liker øl.
    li
      a(href="/lag-avtale")
        img(src="/public/p2.png")
      a(href="/lag-avtale")
        h1 Harald J.
      a(href="/lag-avtale")
        p Kan C, Java og SQL.
    li
      a(href="/lag-avtale")
        img(src="/public/p3.png")
      a(href="/lag-avtale")
        h1 Tom B.
      a(href="/lag-avtale")
        p Går i 3. klasse programmering.
    li
      a(href="/lag-avtale")
        img(src="/public/p4.png")
      a(href="/lag-avtale")
        h1 Sara Q.
      a(href="/lag-avtale")
        p Liker Pokémon og C.
