extends layout

block content
  p.information Takk! Hjelperen vil svare deg på forespørselen ASAP
  
  .confirmation-details
    label Hjelper
    p Mona L.
    label Sted
    p Rom 14 på Galleriet
    label Tid
    p I morgen, 6. november kl. 19.30
  br
  .back-button
    a(href="/") ‹ til forsiden
