extends layout

block content
  .action-buttons
    a.get.active Få hjelp
    a.give Gi hjelp
  .get-help
    p.information 24 hjelpere
    ul.available-help
      li
        p C-programmering
        a(href="/velg-hjelper") 4 hjelpere
      li
        p TV-regi
        a(href="/velg-hjelper") 2 hjelpere
      li
        p Vitseskriving 2
        a(href="/velg-hjelper") 1 hjelper
      li
        p Grensesnittdesign
        a(href="/velg-hjelper") 1 hjelper
      li
        p JavaScript for Wii
        a(href="/velg-hjelper") 1 hjelper
      li
        p Dramaturgi i film
        a(href="/velg-hjelper") 1 hjelper
    hr
    .missing-classes
      p Er det fag du savner?
      input(placeholder="Fag eller tema")
      a.button(href="") Vis interesse
  .give-help
    p.information 5 ønsker hjelp
    ul.available-help
      li
        p Infosec
        a(href="/kontakt") 3 interesserte
      li
        p PG1100
        a(href="/kontakt") 2 interesserte
