.home {
  .action-buttons {
    margin-bottom: 18px;
    border: 1px solid $primary;
    border-radius: 3px;
    background-color: $primary;
    @include clearfix;
    a {
      font-family: "Lato", sans-serif;
      text-align: center;
      display: block;
      box-sizing: border-box;
      padding: 12px 0 11px;
      width: 50%;
      float: left;
      font-size: 13px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 2px;
      background-color: white;
      color: $primary;
    }
    a.active {
      color: white;
      background-color: transparent;
    }
  }

  .status {
    font-weight: 600;
    font-size: 17px;
  }

  hr {
    height: 1px;
    background-color: $shade;
    border:0;
    margin-bottom: 20px;
  }

  .missing-classes {
    p {
      margin-bottom: 8px;
    }
    input {
      width: 100%;
      border-radius: 3px;
      font-size: 15px;
      border: 1px solid $shade;
      padding: 5px;
      box-sizing: border-box;
      margin-bottom: 8px;
      @include clearfix;
    }
  }

  .give-help {
    display: none;
  }
}
